<h3>
  <%= @trade.direction.capitalize %>
  <%= @trade.instrument.symbol %>
</h3>

<p>
  Date: <%= @trade.created_at.strftime("%b %e, %Y") %>
</p>

<p>
  Entry price: <%= to_currency(@trade.entry) %>
</p>

<p>
  Exit price: <%= to_currency(@trade.exit) %>
</p>

<p>
  Size: <%= @trade.quantity %>
</p>

<p>
  Profit/loss: <%= to_currency(@trade.profit_loss) %>
</p>
