<nav class="">
    <ul>
        <%= link_to "Home", root_path %> |
        <%= link_to("Sign out", destroy_trader_session_path, :method => 'delete') if trader_signed_in? %>
        <% if !trader_signed_in? %>
          <%= link_to("Sign Up", new_trader_registration_path) %> |
          <%= link_to("Log In", new_trader_session_path) %> |
        <% else %>
          | Signed in as <%= current_trader.email %>
        <% end %>
    </ul>
</nav>
